[submodule "thirdparty/robin-map"]
	path = thirdparty/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "thirdparty/DiskANN"]
	path = thirdparty/DiskANN
	url = https://github.com/matchyc/DiskANN.git
